.jumbotron{
    background: url(86_banner.PNG) no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

p{
    color: blue;
    font-family: verdana;
    text-align: center;
}

h1{
    text-align: center;
    font-size: 100px;
}

.nav{
